.container{
  display: flex;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 770px){
  .container{
    width: 100%;
  }
}

@media (max-width: 450px){
  .container canvas{
    height: 200px !important;
  }
}