body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px auto 50px;
}

.infoText{
  text-align: center !important;
  font-size: 14px !important;
}

.image{
  width: 370px;
  margin-top: 50px;
}

.rotateWrapper{  
  margin-top: 40px;
  display: none;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 450px){
  .rotateWrapper{
    display: flex;
  }
}


.rotateImage{
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

@media (max-width: 770px){

  .image{
    width: 50%;
  }
}